@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@330&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@font-face {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 330;
    font-style: normal;
}

@font-face {
    font-family: "Noto Sans KR 500", sans-serif;
    font-weight: 500;
    font-style: normal;
}

@tailwind base;

@layer base {
    /*input {*/
    /*    @apply w-full rounded-lg p-3 bg-neutral-200/50 focus:bg-white focus:outline outline-2 outline-neutral-500*/
    /*}*/
}

@tailwind components;

@layer components {
    .login-btn-oauth {
        @apply flex gap-2 justify-center items-center my-3 w-[350px] px-[1rem] py-3 text-[15px] font-bold rounded-xl text-neutral-800 border border-neutral-800 shadow-sm
    }

    .login-btn-oauth:hover {
        @apply bg-gray-100/80
    }

    .login-btn-oauth:active {
        @apply transition-all duration-75 scale-[0.98] shadow-none
    }

    .login-btn {
        @apply mt-3 w-[350px] px-[1rem] py-3 text-[15px] font-bold rounded-xl hover:bg-pink-600 hover:border-primary text-white bg-primary border border-primary shadow-sm
    }

    .login-btn:active {
        @apply transition-all duration-75 scale-[0.98] shadow-none
    }

    .login-btn:disabled {
        @apply bg-primary opacity-70 border-pink-600/0 transition-none scale-100 shadow-none cursor-not-allowed
    }

    .go-signup-btn {
        @apply mt-3 w-[350px] px-[1rem] py-3 text-[15px] font-bold rounded-xl text-primary border border-pink-50/0
    }

    .go-signup-btn:hover {
        @apply border border-primary
    }

    .go-signup-btn:active {
        @apply transition-all duration-75 scale-[0.98] shadow-none
    }

    .signup-btn {
        @apply mt-3 w-[350px] px-[1rem] py-3 text-[15px] font-bold rounded-xl hover:bg-pink-600 hover:border-pink-600 text-white bg-primary border border-primary shadow-sm
    }

    .signup-btn:active {
        @apply transition-all duration-75 scale-[0.98] shadow-none
    }

    .signup-btn:disabled {
        @apply bg-primary opacity-70 border-primary transition-none scale-100 shadow-none cursor-not-allowed
    }

    .back-btn {
        @apply mt-3 w-[350px] px-[1rem] py-3 text-[15px] font-bold rounded-xl text-primary
    }

    .back-btn:hover {
        @apply transition-all duration-75 scale-[0.98] shadow-none
    }

    .text-divider {
        @apply w-[350px] border-t border-gray-200 my-4
    }

    .login-form-input-container {
        @apply mt-3 text-[13px] relative
    }

    .login-form-label {
        @apply absolute translate-y-2 ml-1 text-gray-500 left-[10px] top-[6px] pointer-events-none
    }

    .login-input-field {
        @apply pl-[6rem] pt-3.5 w-full rounded-lg p-3 bg-neutral-200/50 focus:bg-white focus:outline outline-2 outline-neutral-500
    }

    .auth-form {
        @apply flex-col items-center w-[350px] h-[280px]
    }

    .profile-popup-container {
        @apply absolute z-[99] top-[72px] right-[64px] w-[135px] min-w-[135px] bg-white drop-shadow-md rounded-xl animate-slidein
    }

    /*.profile-popup-header {*/
    /*    @apply px-4 py-2 border border-slate-300/80 rounded-xl rounded-b-none text-[13px] text-center text-slate-600 bg-[#F7F7FC]*/
    /*}*/

    .profile-popup-btn {
        @apply w-full px-4 py-2 flex justify-center items-center border border-t-0 border-slate-300/80 text-[13px] text-slate-600
    }

    .profile-popup-btn.error {
        @apply text-red-500
    }

    .profile-popup-btn.error:hover {
        @apply text-white bg-red-600/85
    }

    .profile-popup-btn:only-child {
        @apply rounded-xl border-0 hover:rounded-xl
    }

    .profile-popup-btn:first-child {
        @apply rounded-xl rounded-b-none
    }

    .profile-popup-btn:last-child {
        @apply rounded-xl rounded-t-none
    }

    .profile-popup-btn:not(.error):hover {
        @apply bg-gray-100
    }

    .profile-popup-btn-icon {
        @apply mr-3 text-center whitespace-nowrap
    }

    .profile-popup-btn-label {
        @apply text-center whitespace-nowrap
    }

    .underlineBtn {
        @apply text-[17px]
    }

    .underlineBtn:hover {
        @apply font-[600] underline
    }

    .travel-content {
        @apply flex gap-4 rounded-xl w-[300px] text-[15px] text-gray-800 cursor-pointer select-none
    }

    .travel-content-lg {
        @apply flex flex-col gap-3 rounded-xl w-[300px] h-[330px] text-[15px] text-gray-800 cursor-pointer select-none
    }

    .travel-content:hover {
        @apply bg-gray-200/80
    }

    .travel-content:active {
        @apply transition-all scale-[0.98] duration-75
    }

    .travel-content-lg:hover {
        @apply bg-gray-200/80
    }

    .travel-content-lg:active {
        @apply transition-all scale-[0.98] duration-75
    }

    .clearBtn:hover {
        @apply shadow-sm rounded-full bg-gray-200/80
    }

    .clearBtn:hover {
        @apply shadow-sm rounded-full bg-gray-200/80
    }

    .rangeBtn {
        @apply text-[26px] text-gray-500/80
    }

    .rangeBtn:hover {
        @apply text-black
    }

    .rangeBtn:disabled {
        @apply text-gray-300
    }

    .filter-container:focus-within {
        @apply outline outline-1
    }

    .overlay {
        @apply fixed top-0 left-0 -translate-x-[16%] -translate-y-[16%] w-screen h-screen z-[97]
    }
}

@tailwind utilities;